﻿@{
    ViewData["Title"] = "Home Page";
}

<environment names="Production">
    Production
</environment>
<environment names="Development">
    Development

    <input type="text" name="num" class="kendo-numeric" />
    <select name="city1" id="city1" class="kendo-dropdownlist"></select>
    <select name="city2" id="city2" class="kendo-dropdownlist"></select>
</environment>

<script type="text/javascript">
    $(function () {

        // Sayfa default yükleme
        $("#city1").kendoComboBox({
            dataSource: @Html.Raw((string)ViewBag.CityList),
            dataTextField: "Name",
            dataValueField: "PlateNo"
        });

        // Sayfa yüklendikten sonra ajax ile çekiliyor
        $("#city2").kendoComboBox({
            dataTextField: "Name",
            dataValueField: "PlateNo",
            placeholder: "Select product...",
            filter: "contains",
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("CityList", "Home")'
                    }
                }
            }
        });
    });
</script>
